name: release-please

on:
  workflow_dispatch:
  push:
    branches:
      - develop/0.13

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Run release-please
        uses: google-github-actions/release-please-action@v4
        with:
          config-file: release-please-config.json
          manifest-file: release-please-manifest.json
